<div class="card-body">
  <div class="card-header">
    <p class="card-title"><%= t('reset_password.mail.greeting') %>, <%= @user.username %></p>
  </div>
  <div class="card-text">
    <p><%= t('reset_password.mail.click_url') %>:</p>

    <p><a href=<%= edit_password_url(I18n.locale, @user.reset_password_token) %> class="button">
        <%= t('reset_password.recovery') %></a></p>
  </div>
  <div class="card-footer">
    <p><%= t('reset_password.mail.if_mistake') %></p>
  </div>
</div>