<div class="card-body">
  <div class="card-header">
    <p class="card-title"><%= t('registration_confirmation.greeting') %>, <%= @user.username %></p>
  </div>
  <div class="card-text">
    <p><%= t('registration_confirmation.text_click_url') %>:</p>

    <p><a href=<%= confirm_email_user_url(@user.confirm_token, I18n.locale) %> class="button">
        <%= t('registration_confirmation.confirmation_button') %></a></p>
  </div>
  <div class="card-footer">
    <p></p>
  </div>
</div>