<div id="page-content">
  <div class="container">
    <div class="card text-center mt-4 mb-4" , id=<%= image_id %>>
      <div class="card-header">
        <h1 class="text-center mt-4 font-weight-bold" , id="form-title"><%= title %></h1>
      </div>
      <div class="card-body">
        <%= render "/shared/errors", error_target: @user %>

        <%= form_with(model: @user, local: true) do |f| %>

        <div class="form-group row">
          <%= f.label t('username_label'), class: "col-12 col-form-label signup-label" %>
        </div>
        <div class="form-group row">
          <%= f.text_field :username, class: "form-control signup-field",
          placeholder: t('username_placeholder'), maxlength: get_maxlength(User, :username) %>
        </div>

        <div class="form-group row">
          <%= f.label t('about_label'), class: "col-12 col-form-label signup-label" %>
        </div>
        <div class="form-group row">
          <%= f.text_area :about, class: "form-control signup-field", rows: "3",
            placeholder: t('about_placeholder'), maxlength: get_maxlength(User, :about) %>
        </div>

        <div class="form-group row">
          <%= f.label t('email_label'), class: "col-12 col-form-label signup-label" %>
        </div>
        <div class="form-group row ">
          <%= f.email_field :email, class: "form-control signup-field",
            placeholder: t('email_placeholder'), maxlength: get_maxlength(User, :email) %>
        </div>

        <div class="form-group row">
          <%= f.label t('password_label'), class: "col-12 col-form-label signup-label" %>
        </div>
        <div class="form-group row">
          <%= f.password_field :password, class: "form-control signup-field", placeholder: t('password_placeholder') %>
        </div>

        <div class="form-group row">
          <%= f.label t('confirmation_label'), class: "col-12 col-form-label signup-label" %>
        </div>
        <div class="form-group row">
          <%= f.password_field :password_confirmation, class: "form-control signup-field",
            placeholder: t('confirmation_placeholder') %>
        </div>

        <p class="text-center">
          <%= f.submit t('submit_button'), class: "btn btn-secondary font-weight-bold" %>
          <% if edit %>
          <%= link_to t('form.delete_account_button'), user_path(@user), method: :delete, data: { confirm: t('data_confirm') },
          class: "btn btn-outline-danger" %>
          <% end %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>