<div class="row justify-content-md-center">
  <div class="col-8 mt-4">
    <div class="card text-center shadow mb-3 bg-white rounded" , id="user-card">

      <div class="card-header">
        <%= link_to "#{user.username}", user_path(user), class: "card-title" %>
      </div>
      <div class="card-body row">
        <div class="col">
          <%= image_tag "avatar.jpg", size: "200x200", alt: user.username, class: "avatar" %>
          <div class="card-body text-center font-italic">
            <p class="signup-label"><%= pluralize(user.articles.count, "CoffeCard") %></p>
          </div>
        </div>

        <div class="col main-text mr-5">
          <p class="text-center lead font-italic">About:</p>
          <% if list %>
          <p class="text-bottom"><%= link_to  "#{user.username}'s profile", user_path(user), class: "btn btn-outline-light" %></p>
          <% end %>
        </div>
      </div>
      <div class="card-footer">
        Joined <%= time_ago_in_words user.created_at %> ago.
      </div>
    </div>
  </div>
</div>