<div class="row justify-content-md-center">
  <div class="col-10 mt-4">
    <div class="card text-center shadow mb-5 bg-white rounded" , id="user-profile">
      <div class="card-header">
        <%= link_to "#{article.title}", article_path(article), class: "card-title" %>
      </div>
      <div class="card-body text-left">
        <div class="row col-8">
          <p class="card-text mb-3 pl-2 pr-2 lead"><%= article.description %></p>
        </div>
        <div class="card-body text-left font-italic">
          by <%= link_to article.user.username, user_path(article.user.id), id: "author-link" %>
        </div>

        <% if logged_in? && article.user == current_user && !show %>
        <div class="text-left offset-3">
          <%= link_to  "Show", article_path(article), class: "btn btn-outline-light btn-sm" %>
          <%= link_to  "Edit", edit_article_path(article), class: "btn btn-outline-light btn-sm" %>
          <%= link_to  "Delete", article_path(article), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-outline-light btn-sm" %>
        </div>
        <% end %>
      </div>
      <div class="card-footer">
        Updated <%= time_ago_in_words article.updated_at %> ago.
        Created <%= time_ago_in_words article.created_at %> ago.
      </div>
    </div>
  </div>
</div>