<div class="row justify-content-md-center">
  <div class="col-10 mt-2">
    <div class="card text-center shadow mb-5 bg-white rounded" , id="user-profile">
      <div class="card-header">
        <%= link_to coffeecard.title, coffeecard_path(coffeecard), class: "card-title" %>
      </div>
      <div class="card-body text-left">
        <div class="row col-8">
          <p class="card-text mb-3 pl-2 pr-2 lead"><%= coffeecard.description %></p>
          <div class="col-12  text-right font-italic">
            <p style="text-align:left;">
              by <%= link_to coffeecard.user.username, user_path(coffeecard.user.id), id: "author-link" %>
              <span style="float:right;">
                <%= coffeecard.likes.count %>
                <% if logged_in? %>
                <% pre_like = coffeecard.likes.find { |like| like.user_id == current_user.id} %>
                <% if pre_like %>
                <%= link_to image_tag('liked', size: '25x25', style: "filter: invert(100%); opacity: 0.8;"), 
            coffeecard_like_path(coffeecard, pre_like),  method: :delete %>
                <% else %>
                <%= link_to image_tag('notliked', size: '25x25', style: "filter: invert(100%); opacity: 0.8;"), 
            coffeecard_likes_path(coffeecard), method: :post %>
                <% end %>
                <% else %>
                <%= image_tag('notliked', size: '25x25', style: "filter: invert(100%); opacity: 0.8;") %>
                <% end %>
              </span>
            </p>
          </div>
        </div>
        <% if logged_in? && (current_user.admin? || coffeecard.user == current_user) && !show %>
        <div class="text-left offset-3">
          <%= link_to  t('coffeecard.show_button'), coffeecard_path(coffeecard), class: "btn btn-outline-light btn-sm" %>
          <%= link_to  t('coffeecard.edit_button'), edit_coffeecard_path(coffeecard), class: "btn btn-outline-light btn-sm" %>
          <%= link_to  t('coffeecard.delete_button'), coffeecard_path(coffeecard), method: :delete,
           data: {confirm: t('data_confirm?')}, class: "btn btn-outline-light btn-sm" %>
        </div>
        <% end %>
      </div>
      <div class="card-footer">
        <%= t 'coffeecard.updated_at' %> <%= time_ago_in_words coffeecard.updated_at %> <%= t 'coffeecard.ago' %>.
        <%= t 'coffeecard.created_at' %> <%= time_ago_in_words coffeecard.created_at %> <%= t 'coffeecard.ago' %>.
        <div class="pt-2">
          <%= social_share_button_tag(t("coffeecard.social_share_greeting"), :url => coffeecard_url(coffeecard),
         desc: coffeecard.description) %>
        </div>
      </div>
    </div>
  </div>
</div>