<div id="page-content">
  <div class="container">
    <div class="card text-center mt-4 mb-4" , id='signup' %>>
      <div class="card-header">
        <h1 class="text-center mt-4 font-weight-bold" , id="form-title"><%= t("reset_password.edit") %></h1>
      </div>
      <div class="card-body">
        <%= render "/shared/errors", error_target: @user %>
        <%= form_with(model: @user, url: password_path(params[:id]), local: true) do |f|%>
        <div class="form-group row">
          <%= f.label t('general.password'), class: "col-2 col-form-label signup-label" %>
          <div class="col-10">
            <%= f.password_field :password, class: "form-control signup-field", placeholder: t('general.enter_password') %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label t('user.password_confirmation'), class: "col-2 col-form-label signup-label" %>
          <div class="col-10">
            <%= f.password_field :password_confirmation, class: "form-control signup-field",
             placeholder: t('user.enter_password_confirmation') %>
          </div>
        </div>
        <p class="text-center">
          <%= f.submit t('general.button.submit'), class: "btn btn-secondary font-weight-bold" %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>