<div id="page-content">
  <div class="container">
    <div class="card text-center mt-4 mb-4", id=<%= image_id %>>
      <div class="card-header">
        <h1 class="text-center mt-4" , id="form-title"><%= title %></h1>
      </div>
      <div class="card-body">
        <%= render "/shared/errors", error_target: @coffeecard %>

        <%= form_with(model: @coffeecard, local: true) do |f| %>

        <div class="form-group row">
          <%= f.label t('coffeecard.form.coffee_theme'), class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control", placeholder: t('coffeecard.form.enter_title'),
             maxlength: get_maxlength(Coffeecard, :title) %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label t('coffeecard.form.thoughts'), class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_area :description, class: "form-control", id: "exampleFormControlTextarea1", rows:"7",
             placeholder: t('coffeecard.form.enter_thoughts'), maxlength: get_maxlength(Coffeecard, :description)  %>
          </div>
        </div>
        <p class="text-center"><%= f.submit t('general.button.submit'), class: "btn btn-secondary font-weight-bold" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>