<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">
    <%= link_to "CoffeeCards Blog", root_path(I18n.locale), class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag  "lang_pic", size: '30x30', style: "filter: invert(100%);" %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% I18n.available_locales.each do |a| %>
            <%= link_to I18n.t('language_name', locale: a), locale_root_path(locale: a), class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
        <li class="nav-item active">
          <%= link_to t('navbar.all_coffeecards'), coffeecards_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to t('navbar.all_users'), users_path, class: "nav-link" %>
        </li>

        <% if logged_in? %>
        <li class="nav-item active">
          <%= link_to t('navbar.new_coffeecard'), new_coffeecard_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <%= link_to "#{t('navbar.my_profile')}"+"#{t('navbar.admin') if current_user.admin?}"+"(#{current_user.username})",
           user_path(I18n.locale, current_user), class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to t('navbar.logout'), logout_path, class: "nav-link", method: :delete %>
        </li>
      </ul>
      <% else %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <%= link_to t('navbar.login'), login_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to t('navbar.signup'), signup_path, class: "nav-link" %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>